<li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5">
  <div class="w-0 flex-1 flex items-center">
    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"/>
    </svg>
    <span class="ml-2 flex-1 w-0 truncate">
      <%= vehicle.description %>
    </span>
  </div>
  <div class="ml-2 flex-shrink-0 flex">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
      <%= link_to "Ver Detalles", vehicle_path %>
    </span>
  </div>
</li>
